body {
  background-color: #000;
}

.page {
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.rightside-input {
  position: absolute;
  right: 0;
  top: 0;
}

#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.modal-open {
  overflow: hidden;
}
.popup-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
}
